@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format("truetype");
  }
  
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: sans-serif, 'Roboto';
  }
  
  .clock {
    font-size: 80px;
    color: white;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-center {
    justify-content: center;
  }
  
  .flex-end {
    justify-content: center;
    align-items: flex-end;
    height: 20rem;
  }
  
  .field-search {
    font-weight: 500;
    color: #1F2937;
    border: none;
    background-color: #d1d5db7a;
    padding: 12px;
    width: 100%;
    backdrop-filter: blur(8px);
    outline: none;
  }
  
  .field-search::placeholder {
    color: #1F2937;
  }
  
  .text-left {
    text-align: left;
  }
  
  .alert-item {
    text-align: center;
    height: 70%;
    overflow: auto;
  }
  